<%= form_with(model: player) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :Class %>
    <%= form.text_field :Class %>
  </div>

  <div class="field">
    <%= form.label :Type %>
    <%= form.text_field :Type %>
  </div>

  <div class="field">
    <%= form.label :CurrentDKP %>
    <%= form.text_field :CurrentDKP %>
  </div>

  <div class="field">
    <%= form.label :Month %>
    <%= form.text_field :Month %>
  </div>

  <div class="field">
    <%= form.label :Lifetime %>
    <%= form.text_field :Lifetime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
