<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.Name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @player.Class %>
</p>

<p>
  <strong>Type:</strong>
  <%= @player.Type %>
</p>

<p>
  <strong>Current DKP:</strong>
  <%= @player.CurrentDKP %>
</p>

<p>
  <strong>Month:</strong>
  <%= @player.Month %>
</p>

<p>
  <strong>Lifetime %:</strong>
  <%= @player.Lifetime %>
</p>

<%= link_to 'Edit', edit_player_path(@player), class:"btn btn-secondary" %>
<%= link_to 'Back', players_path, class:"btn btn-secondary" %>
